<!-- OPTOMIZE: Reach out to Roby for help in styling this mother... -->
<div id="main">
  <div id="headerImage" class="sixteen columns">
    <img src="<%= asset_path('shutterstock_162588092.jpg') %>">
  </div>
</div>


