<div class="homepage_containter">
  <div class="eight columns header" id="homepage_banner">
    <span class="title">In the Shop</span>
  </div>
  <div id="nav" class="eight columns">
    <ul id="center">
      <li><a href="http://www.amazon.com/s/ref=nb_sb_ss_c_0_3?url=search-alias%3Dautomotive&field-keywords=odb2%20bluetooth&sprefix=odb%2Caps%2C195" target="_blank">Get Connected</a></li> ||
      <li><a href="http://www.carvoyant.com/getcarsconnected/" target="_blank">Our Partners</a></li> ||
      <li><a href="/users/new">Sign-up</a></li></li> ||
      <li><a href="/session/new">Login</a></li></li>
    </ul>
  </div>
</div>
<div id="main">
  <div id="headerImage" class="sixteen columns">
    <img src="<%= asset_path('shutterstock_162588092.jpg') %>">
  </div>
</div>


