<h1>In The Shop</h1>

<!-- OPTOMIZE: Reach out to Roby for help in styling this mother... -->
<div id="container">
  <div id="main">
    <p>
      <a href="/users/new">Sign Up</a>
       <a href="/session/new">Login</a>
    </p>
  </div>
</div>


