<h1>Create a New Car</h1>
  <div id="carvoyant_link">
   <button id="carvoyant_link">Link from Carvoyant</button>
  </div>

  <div class="carvoyant_results"></div>

<%= render partial: "form", locals: {car: @car} %>