<h1>Create a New Car</h1>
  <div id="carvoyant_link">
   <button id="carvoyant_link">Link from Carvoyant</button>
  </div>

  <div class="carvoyant_results">
    <select name="select" id="carvoyant_dropdown">
      <!-- <option value="value1">Value 1</option>  -->
    </select>
  </div>



<%= render partial: "form", locals: {car: @car} %>